@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
  height: 100%;
  width: 100%;
}
body{
  background-color:#EBF7E3

}
.container{
  margin: auto;
  background-color:#66B032;
  border-radius: 10px;
  width:500px;
  height:600px;
  text-align: center;
  padding:20px;
  display: flex;
  flex-direction:column;
}
h1,p,label{
  width: 100%;
  color:white;  
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
}
form{
  text-align: left;
}
.inpfield{
  position: relative;
  height:30px;
  width:30px;
  float:right;
}
.inpfield[type="text"],.inpfield[type="number"]{
  width:100px;
  background-color: #EBF7E3;
} 
.inpfield[type="checkbox"]{
  z-index: 2;
  accent-color:#375F1B;
}
.inpfield[type="checkbox"]:not(:checked):before{
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0px;
  top: 0;
  left: 0;
  margin: 3px,3px,3px,4px;
  border-radius: 3px;
  background-color: #EBF7E3;
}
h1{
  font-size: 40px;
}
input[disabled]{
  background-color:#375F1B;
  color:white;
  border-style: solid;
  margin-left:20px;
  width:460px;
  height:50px;
}
.copy{
  width:48px;
  height:48px;
  padding:2px;
  font-size:30px;
  background-color:#66B032;
  border:none;
  position: relative;
  top:-52px;
  right:-436px;
}
section{
  margin-top:15px;
}
.gen{
  background-color: #375F1B;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width:300px;
  height:50px;
  font-size:30px;
  border:none;
  margin-left:100px;
  position: relative;
  bottom:-40px;
  cursor:pointer;
}

.gen[disabled]{
  background-color: #1B3409;
  cursor:unset;
}

#output{
  font-size:30px;
  font-family: "Roboto Mono", monospace;
}